# Pandas

Usefull to analyse databases

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

<b>Series

In [ ]:
label = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d ={'a':10,'b':20,'c':30}

In [ ]:
# Create a serie from lists: pd.Series(<list name>,<index name>)

label = ['a','b','c']
my_data = [10,20,30]

pd.Series(my_data,label)

In [ ]:
# Create a serie from array: pd.Series(<array name>,<index name>)

label = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)

pd.Series(arr,label)

In [ ]:
# Create a serie from dictionary: pd.Serie(<dictionary name>)

d ={'a':10,'b':20,'c':30}

pd.Series(d)

In [ ]:
# Return data from a serie

d ={'a':10,'b':20,'c':30}

ser1 = pd.Series(d)

ser1['a']

<b>DataFrames

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
# Create a dataFrame: pd.DataFrame(<array>,<rows names>,<column name>)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

In [ ]:
# Creating a new column

df['new'] = df['X'] + df['Y']
df

In [ ]:
# Dropping a column --> Select axis = 1

df.drop('new', axis=1, inplace=True) # Use inplace=False to test and rollback, use inplace=True to commit
#
df

In [ ]:
# Dropping a row --> Select axis =0 (or select nothing)

df.drop('E',axis=0)

In [ ]:
# Select column

df[['X','Z']]

In [ ]:
# Select row calling the name

df.loc['A']

In [ ]:
# Select row calling the index

df.iloc[0]

In [ ]:
# Create a sub-dataframe

df.loc[['B','C'],['W','Y']]

In [ ]:
# Annul values

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

df[df >0]

In [ ]:
# Filter rows

df[df['W']>0]

In [ ]:
# Filter rows and columns

df[df['W']>0][['W','X']]

In [ ]:
# Multiple Filters - AND operation

df[(df['W']>0) & (df['X']>0)]

In [ ]:
# Multiple Filters - OR operation

df[(df['W']>0) | (df['X']>0)]

In [ ]:
# Get back the index numbers

df.reset_index() #Use inplace=False to test and rollback, use inplace=True to commit

In [ ]:
newind = 'CA NY OR CO DC'.split()
df['STATES'] = newind

df.set_index('STATES',inplace=True) #Use inplace=False to test and rollback, use inplace=True to commit
df

In [ ]:
# Multi index level: pd.MultiIndex.from_tuples(<list>) --> (G1,1),(G2,2),...

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

In [ ]:
# Naming index

df.index.names = ['Groups','Num']
df

In [ ]:
# Filter row and column

df.loc['G2',2]['B']

In [ ]:
# Return value from another index level

df.xs(1,level='Num')

<b>Missing data

In [ ]:
# Use mp.nan to put missing value

df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

In [ ]:
# Drop all row with NaN values

df.dropna()

In [ ]:
# Drop all column with NaN values

df.dropna(axis=1)

In [ ]:
# Substitute NaN with another value

df.fillna(value='Fill Value')

In [ ]:
#Substitute NaN with some statistic value

df['A'] = df['A'].fillna(value=df['A'].mean())
df

In [3]:
# Group by values

data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)

df.groupby('Company').sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [ ]:
# Use .describe() to show a lot of stat values

df.groupby('Company').describe()

In [ ]:
# Use .transpose() to change rows to columns

df.groupby('Company').describe().transpose()

<b>Concatination, Merge, Join

In [ ]:
# Dataframes

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                        index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [ ]:
# Concatination: Appending rows

pd.concat([df1,df2,df3])

In [ ]:
# Concatination: Appending columns

pd.concat([df1,df2,df3], axis=1)

In [ ]:
# Dataframe

d1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
d2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# Simple merge
pd.merge(d1,d2,how='inner', on='key')

In [ ]:
# Combinate merge
pd.merge(d1,d2,how='inner', on=['key','key2'])

In [ ]:
# Join Index

d1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

d2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

d1.join(d2)

Operations

In [10]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
# Count unique values

df['col1'].nunique()

In [ ]:
# Count repetition

df['col1'].value_counts()

In [17]:
# Count if

df[df['col1'] == 1]['col1'].count()

1

In [ ]:
# Apply custom function

def times2(x):
    return x*2

df['col1'].apply(times2)

In [ ]:
# It can used with native functions

df['col3'].apply(len)

In [ ]:
# Or with lambda too

df['col1'].apply(lambda x : x*2)

In [ ]:
# Sort values

df.sort_values('col2')

In [ ]:
# Find Null values

df.isnull()

<b>Pivot Table

In [ ]:
#DataFrame

data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

df

In [ ]:
# Create - Compare with the table above

df.pivot_table(values='D',index=['A','B'],columns=['C'])

<b>Data input/output</b>
    
It needed to install:
- conda install sqlalchemy
- conda install lxml
- conda install html5lib
- conda install BeatufulSoup4

In [ ]:
# Reading .csv files

df = pd.read_csv('03-Python-for-Data-Analysis-Pandas\\example.csv')
df

In [ ]:
# Reading .xslx file

df = pd.read_excel('03-Python-for-Data-Analysis-Pandas\\Excel_Sample.xlsx',sheet_name='Sheet1')
df

In [ ]:
# Reading html page --> Try to find some table reference (Web Scrapping)

data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

data[0] # Choose which table

In [22]:
def host(e):
    prov = e.split('@')
    
    return prov[-1]

host('jajajajaj@hotmai.com')

'hotmai.com'